SUBSYSTEM=="tty", KERNEL=="ttyUSB*", KERNELS=="1-1.5:1.0", SYMLINK+="ttyRS485-2"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", KERNELS=="1-1.5:1.1", SYMLINK+="ttyRS232-2"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", KERNELS=="1-1.5:1.2", SYMLINK+="ttyRS485-1"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", KERNELS=="1-1.5:1.3", SYMLINK+="ttyRS232-3"
SUBSYSTEM=="tty", KERNEL=="ttyAMA0", KERNELS=="fe201000.serial", SYMLINK+="ttyRS232-1"
LABEL="rb700_end"
KERNELS=="1-1.5",SUBSYSTEMS=="usb",ATTRS{idProduct}!="6015",GOTO="rb100_end"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", KERNELS=="1-1.5:1.0", SYMLINK+="ttyRS485"
LABEL="rb100_end"